sudo: required
services:
  - docker

language: rust
rust:
  - stable
  - beta
  - nightly
before_install:
  - sudo apt-get install -y libarchive-dev
script:
  - cargo build
  - cargo doc --no-deps
  - if [ "$TRAVIS_RUST_VERSION" == "nightly" ]; then
    docker run --rm -it archlinux/base sh -c "pacman -Syu --noconfirm >/dev/null 2>/dev/null && pacman -S --noconfirm git cargo libarchive && mkdir build && cd build && git clone --branch '$TRAVIS_BRANCH' https://github.com/derekdreery/alpm-sys.git && cd alpm-sys && cargo test" ;
    fi
notifications:
  on_success: change
  on_failure: always
  skip_join: true

